* {
    box-sizing:border-box;
}

body {
    margin:0;
    background-color:darkgreen;
    color:#dddddd;
}
#star {
    font-size:2rem;
}
#wrap {
    width: 80%;
    display: flex;
    flex-direction:column;
    margin:auto;
    max-width: 1000px;
    align-items: center;
}

audio {
    width:80%;
}

#main {
    display:flex;
    width:100%;
    margin-bottom: 4rem;
}

#title {
    text-align:center;
}

#sidebar {
    display:flex;
    flex-direction:column;
    align-items: center;
    width:25%;
    justify-content:start;
}

#checkboxholder {
    display:flex;
    margin-bottom: 0.2rem;
}

#treeArea {
    font-family:Consolas, monaco, monospace;
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color:rgb(0, 0, 0);
    width: 75%;
}
#theTree {
    display:flex;
    align-items:center;
    flex-direction:column;
}

#trunk {
    width: 2rem;
    margin-top:0.1rem;
    height: 2rem;
    background-color:rgb(95, 58, 10);
    border-radius:0.3rem;
}
#wordArea {
    width: 80%;
    white-space: nowrap;
    overflow:scroll;
}

#shareArea {
    max-width:100%;
    width:100%;
}
#shareURLBox {
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    width: 100%;
    color:black;
    background-color: #dddddd;
    padding: 0.2rem;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.branch {
    min-height:1rem;
    background-color:rgb(0, 68, 0);
    padding: 0.1rem 1.5ch;
    clip-path:polygon(1rem 0, calc(100% - 1rem) 0, 100% 100%, 0 100%);
}

.red {
    color:rgb(254, 82, 82);
}
.green{
    color:rgb(134, 255, 134);
}
.blue{
    color:rgb(110, 110, 255);
}

.white {
    color:white;
}

.blue.glow {
    text-shadow: 0 0 5px #a2a2fc, 0 0 10px #dedefd, 0 0 15px #ffffff;
}

.green.glow {
    text-shadow: 0 0 5px #81ff6e, 0 0 10px #c2fcb9, 0 0 15px #ffffff;
}

.red.glow {
    text-shadow: 0 0 5px #ff6e6e, 0 0 10px #fcb9b9, 0 0 15px #ffffff;
}

.white.glow {
    text-shadow: 0 0 5px rgb(198, 247, 198), 0 0 10px #e3ffe8, 0 0 15px #ffffff;
}