* {
    box-sizing:border-box;
}

body {
    font-family:Consolas, monaco, monospace;
    margin:0;
    background-color:darkgreen;
    color:#dddddd;
}
#star {
    font-size:2rem;
}
#wrap {
    width: 80%;
    display: flex;
    flex-direction:column;
    margin:auto;
    max-width: 1000px;
    align-items: center;
}

audio {
    width:80%;
}

#main {
    display:flex;
    align-items:start;
    width:100%;
    margin-bottom: 4rem;
}

#title {
    text-align:center;
}

#sidebar {
    display:flex;
    flex-direction:column;
    align-items: center;
    width:25%;
    justify-content:start;
}

#checkboxholder {
    display:flex;
    margin-bottom: 0.2rem;
}

#treeArea {
    padding-bottom:1rem;
    padding-top: 0.5rem;
    min-height: 20rem;
    border-radius: 0.2rem;
    position:relative;
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color:rgb(0, 0, 0);
    z-index: -2;
    overflow:hidden;
    width: 75%;
}
#theTree {
    display:flex;
    align-items:center;
    flex-direction:column;
}

#trunk {
    width: 2rem;
    margin-top:0.1rem;
    height: 2rem;
    background-color:rgb(95, 58, 10);
    border-radius:0.3rem;
}
#wordArea {
    width: 80%;
    white-space: nowrap;
    overflow:scroll;
}

#wordlabel {
    margin-top: 1rem;
}

#shareArea {
    max-width:100%;
    width:100%;
}
#shareURLBox {
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    width: 100%;
    color:black;
    background-color: #dddddd;
    padding: 0.2rem;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.flake::before {
    content:"❄";
}

.flake {
    position: absolute;
    left:0;
    top:0;
    display:inline-block;
    color: white;
    padding:0;
    z-index:-1;
    line-height:1;
    animation-name: fall;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes fall {
    from {top:-1rem;}
    to {top:100%;}
}



.branch {
    min-height:1rem;
    background-color:rgb(0, 52, 0);
    padding: 0.1rem 1.5ch;
    clip-path:polygon(1.5ch 0, calc(100% - 1.5ch) 0, 100% 100%, 0 100%);
}

.red {
    color:rgb(251, 122, 122);
}
.green{
    color:rgb(134, 255, 134);
}
.blue{
    color:rgb(142, 142, 252);
}

.white {
    color:white;
}

.blue.glow {
    text-shadow: 0 0 7px #a2a2fc, 0 0 12px #dedefd, 0 0 15px #ffffff;
}

.green.glow {
    text-shadow: 0 0 7px #81ff6e, 0 0 12px #c2fcb9, 0 0 15px #ffffff;
}

.red.glow {
    text-shadow: 0 0 7px #ff6e6e, 0 0 12px #fcb9b9, 0 0 15px #ffffff;
}

.white.glow {
    text-shadow: 0 0 5px rgb(198, 247, 198), 0 0 10px #e3ffe8, 0 0 15px #ffffff;
}